@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CDR_Worship</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet" />

    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="~/favicon.ico" />


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/site.css" />
    <link rel="stylesheet" href="~/dist/css/style.min.css" />
    <link rel="stylesheet" href="~/assets/css/card.css" />
    <link rel="stylesheet" href="~/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css">


    <link rel="stylesheet" href="~/assets/css/attachment.css" />
    <link rel="stylesheet" href="~/assets/css/themes.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*     <link rel="stylesheet" href="~/CDR_Worship.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>

        @if (User.Identity!.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/assets/img/CDRLogo.png" alt="Logo" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  text-dark" asp-area="" asp-controller="SongDocuments" asp-action="Index">Letras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  text-dark" asp-area="" asp-controller="ChordDocuments" asp-action="Index">Acordes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  text-dark" asp-area="" asp-controller="ScheduledSongs" asp-action="Index">Lista</a>
                            </li>


                        </ul>
                        <ul class="navbar-nav ml-auto d-flex mx-3">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    @if (User.Identity!.IsAuthenticated)
                                    {
                                        var user = await UserManager.GetUserAsync(User);

                                        <a class="nav-link dropdown-toggle waves-effect waves-dark"
                                           href="#"
                                           data-bs-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="bi bi-boombox"></i>
                                           @*  <img src="../../assets/images/users/1.jpg"
                                                 alt="user"
                                                 class="rounded-circle"
                                                 width="36" /> *@
                                            <span class="ms-2 font-weight-medium">@user?.FirstName</span>
                                        </a>
                                        <div class="
                        dropdown-menu dropdown-menu-end
                        user-dd
                        animated
                        flipInY mx-2
                                  ">
                                            <div class="
                            d-flex
                            no-block
                            align-items-center
                            p-3
                            bg-info
                            text-white
                            mb-2
                                      ">
                                                <div class="">
                                                    
                                                    @* <img src="../../assets/images/users/1.jpg"
                                                         alt="user"
                                                         class="rounded-circle"
                                                         width="60" /> *@
                                                </div>
                                                <div class="ms-2">
                                                    <h4 class="mb-0 text-white">@user?.FirstName @user?.LastName</h4>
                                                    <p class="mb-0">@user?.Email</p>
                                                </div>
                                            </div>
                                            <a class="dropdown-item" href="#">
                                                <i class="feather-sm bi bi-person text-info me-1 ms-1"></i>
                                                My Profile
                                            </a>
                                          
                                            <a class="dropdown-item" href="#">
                                                <i class="feather-sm bi bi-bell text-success me-1 ms-1"></i>
                                                Notification
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="feather-sm bi bi-person-gear text-warning me-1 ms-1"></i>
                                                Account Setting
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <i class="feather-sm bi bi-box-arrow-left text-danger me-1 ms-1"></i>
                                                Logout
                                            </a>

                                            <div class="dropdown-divider"></div>
                                            <div class="ps-4 p-2">
                                                <a href="#" class="btn d-block w-100 btn-info rounded-pill">View Profile</a>
                                            </div>
                                        </div>
                                    }
                                </li>
                            }
                        </ul>


                    </div>

                </div>
            </nav>
        }
        else
        {
            <partial name="_LoginPartial" />
        }
    </header>


    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="py-4">
        <div class="container-xxl text-center">
            <span class="build-by-text text-dark">Build by</span>
            <span class="build-by-text text-dark">Gelson Hernandez</span>
            <br />
            <span class="build-by-text text-dark"> &copy; 2024 - CDR Worship -  </span>
            <br />
            <img src="~/assets/img/CDRLogo.png" alt="Logo" style="height: 50px; width: auto;" />
         
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-api.init.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>


    <script>
        $(document).ready(function () {
            // Inicializar tooltip
            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>





