@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager



<nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="main-navbar">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item ">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión /
                        Demo</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
