:root {
  /* fonts */
  --gh-title-font: "Bebas Neue", sans-serif;
  --gh-subtitle-font: "Fira Sans", sans-serif;
  --gh-heading-font: "Bebas Neue", sans-serif;
  --gh-body-font: "Roboto", sans-serif;
  /* basic colors */
  --gh-dark-color: #333;
  --gh-light-color: #605e5c;
  --gh-background-color: rgba(250, 250, 250, 0.8);
  /* text style */
  --gh-font-size: 1.2rem;
  --gh-font-weight: 400;
  --gh-line-height: 1.5rem;
  --gh-title-color: var(--gh-dark-color);
  --gh-gray-core: #adb5bd;
  --gh-theme-core: var(--gh-gray-core);
  --gh-theme-100: var(--gh-gray-100);
  --gh-theme-150: var(--gh-gray-150);
  --gh-theme-200: var(--gh-gray-200);
  --gh-theme-300: var(--gh-gray-300);
  --gh-theme-400: var(--gh-gray-400);
  --gh-theme-500: var(--gh-gray-500);
  --gh-theme-600: var(--gh-gray-600);
  --gh-theme-700: var(--gh-gray-700);
  --gh-theme-800: var(--gh-gray-800);
  --gh-theme-850: var(--gh-gray-850);
  --gh-theme-900: var(--gh-gray-900);
}

/* Element Overrides */
body {
  font-family: var(--gh-body-font);
  font-size: var(--gh-font-size);
  font-weight: var(--gh-font-weight);
  line-height: var(--gh-line-height);
  color: var(--gh-dark-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--gh-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gh-title-color);
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: white;
}

.main-content {
  flex: 1;
  padding-bottom: 2rem; /* Espacio extra para evitar solapamiento con el footer */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto m�nimo del cuerpo para ocupar toda la ventana del navegador */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

/* .content {
    flex: 1; 
} */

footer {
  background-color: #ffffff; /* Color de fondo del footer */
  padding: 20px; /* A�ade espacio alrededor del contenido del footer */
  margin-top: auto; /* Coloca el footer al final de la pagina */
}

.btn-primary {
  --bs-btn-bg: var(--gh-theme-600);
  --bs-btn-border-color: var(--gh-theme-600);
  --bs-btn-hover-bg: var(--gh-theme-700);
  --bs-btn-hover-border-color: var(--gh-theme-700);
  --bs-btn-active-bg: var(--gh-theme-700);
  --bs-btn-active-border-color: var(--gh-theme-700);
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gh-theme-200);
}

.navbar img {
  width: 90px;
  height: auto;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #343a40;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
}

.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-large {
  font-size: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mainTitle {
    font-size: 8rem;
    font-weight: 5rem;
    letter-spacing: 0.4rem;
    padding-bottom: 2rem;
  }

  .mainSubTitle {
    font-size: 2rem;
    font-weight: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mainSubTitle {
    font-size: 2.5rem;
    font-weight: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}


