:root {
  /* fonts */
  --gh-title-font: "Nunito", sans-serif;
  --gh-subtitle-font: "Nunito", sans-serif;
  --gh-heading-font: "Nunito", sans-serif;
  --gh-body-font: "Nunito", sans-serif;
  /* basic colors */
  --gh-dark-color: #333;
  --gh-light-color: #605e5c;
  --gh-background-color: rgba(250, 250, 250, 0.8);
  /* text style */
  --gh-font-size: 1.2rem;
  --gh-font-weight: 400;
  --gh-line-height: 1.5rem;
  --gh-title-color: var(--gh-dark-color);
  --gh-gray-core: #adb5bd;
  --gh-theme-core: var(--gh-gray-core);
  --gh-theme-100: var(--gh-gray-100);
  --gh-theme-150: var(--gh-gray-150);
  --gh-theme-200: var(--gh-gray-200);
  --gh-theme-300: var(--gh-gray-300);
  --gh-theme-400: var(--gh-gray-400);
  --gh-theme-500: var(--gh-gray-500);
  --gh-theme-600: var(--gh-gray-600);
  --gh-theme-700: var(--gh-gray-700);
  --gh-theme-800: var(--gh-gray-800);
  --gh-theme-850: var(--gh-gray-850);
  --gh-theme-900: var(--gh-gray-900);

  /* New Style */
}


/* Element Overrides */
body {
  font-family: var(--gh-body-font);
  font-size: var(--gh-font-size);
  font-weight: var(--gh-font-weight);
  line-height: var(--gh-line-height);
  color: var(--gh-dark-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--gh-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gh-title-color);
  letter-spacing: 0.1rem;
}

.main-content {
  flex: 1;
  padding-bottom: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
/* .content {
    flex: 1; 
} */

/* .btn-primary {
  --bs-btn-bg: var(--gh-theme-600);
  --bs-btn-border-color: var(--gh-theme-600);
  --bs-btn-hover-bg: var(--gh-theme-700);
  --bs-btn-hover-border-color: var(--gh-theme-700);
  --bs-btn-active-bg: var(--gh-theme-700);
  --bs-btn-active-border-color: var(--gh-theme-700);
} */

/* .icon-large {
  font-size: 3rem;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mainTitle {
    font-size: 8rem;
    font-weight: 5rem;
    letter-spacing: 0.4rem;
    padding-bottom: 2rem;
  }

  .mainSubTitle {
    font-size: 2rem;
    font-weight: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mainSubTitle {
    font-size: 2.5rem;
    font-weight: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
