:root {
  /* fonts */
  --gh-title-font: "Nunito", sans-serif;
  --gh-subtitle-font: "Nunito", sans-serif;
  --gh-heading-font: "Nunito", sans-serif;
  --gh-body-font: "Nunito", sans-serif;

  /* basic colors */
  --gh-dark-color: #333; /* Texto oscuro */
  --gh-light-color: #605e5c; /* Color de texto claro */
  --gh-background-color: rgba(250, 250, 250, 0.8); /* Fondo claro */

  /* New Style */
  --gh-theme-core: hsla(210, 100%, 80%, 1); /* Azul */
  --gh-theme-150: hsla(210, 100%, 95%, 1); /* Azul claro */
  --gh-theme-200: hsla(0, 100%, 90%, 1); /* Rojo claro */
  --gh-theme-300: hsla(210, 100%, 80%, 1); /* Azul */
  --gh-theme-400: hsla(0, 100%, 70%, 1); /* Rojo */
  --gh-theme-500: hsla(0, 100%, 50%, 1); /* Rojo oscuro */
  --gh-theme-600: hsla(210, 100%, 60%, 1); /* Azul oscuro */
  --gh-theme-700: hsla(120, 100%, 50%, 1); /* Verde */
  --gh-theme-800: rgba(250, 250, 250, 0.8); /* Fondo claro */
  --gh-theme-900: var(--gh-dark-color); /* Texto oscuro */

  /* text style */
  --gh-font-size: 1.2rem;
  --gh-font-weight: 400;
  --gh-line-height: 1.5rem;
  --gh-title-color: var(--gh-dark-color);
  --gh-gray-core: #adb5bd;
}

/* Element Overrides */
body {
  font-family: var(--gh-body-font);
  font-size: var(--gh-font-size);
  font-weight: var(--gh-font-weight);
  line-height: var(--gh-line-height);
  color: var(--gh-dark-color);
  background-color: var(--gh-background-color); /* Fondo */
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--gh-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gh-title-color);
  letter-spacing: 0.1rem;
}

.btn-color {
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--gh-theme-300); /* Azul */
  border-color: var(--gh-theme-300); /* Azul */
  color: var(--gh-theme-800); /* Fondo claro */
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.btn-color:hover {
  background-color: var(--gh-theme-600); /* Azul oscuro */
  border-color: var(--gh-theme-600); /* Azul oscuro */
  color: var(--gh-theme-700); /* Verde */
}

.btn-color:active {
  background-color: var(--gh-theme-600); /* Azul oscuro */
  border-color: var(--gh-theme-600); /* Azul oscuro */
  color: var(--gh-theme-300); /* Azul */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-paragraph {
  font-size: 1em; /* 16px */
  font-family: "Open Sans", sans-serif;
}

.main-heading {
  font-size: 3.375em; /* 54px */
  letter-spacing: -0.03em;
}

.sub-heading {
  font-size: 2.25em; /* 36px */
}

.italic-heading {
  font-size: 1.5em; /* 24px */
  font-style: italic;
}

.content-container {
  width: 960px;
  padding: 5% 12% 10% 10%;
  background-color: #f4f4f4; /* Color del contenedor */
  margin: 0 auto;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.centered-text {
  text-align: center;
  margin-bottom: 70px;
}

.main-heading,
.sub-heading,
h3 {
  margin: 10px 0px;
  font-family: "Nunito", serif;
  color: #3d4c5c; /* Color de encabezado */
}

.text-paragraph:first-of-type:first-letter {
  font-size: 4em;
  font-weight: bold;
  float: left;
  padding-right: 3px;
}

.text-paragraph:first-of-type:first-line {
  line-height: 1;
}

.content-container > .text-paragraph {
  padding: 10px 0px 10px 40px;
}

.blockquote-style {
  background-color: #eaeaea; /* Fondo del bloque de cita */
  font-family: "Nunito", serif;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 12px 0 12px 40px;
  text-align: center;
}

/* Imagen responsive */
.responsive-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thank-you {
  margin-top: 80px;
  text-align: center;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .main-heading {
    font-size: 2.5em; /* 40px */
  }
  .content-container {
    width: 425px;
  }
  .sub-heading {
    font-size: 1.75em; /* 28px */
  }
  .italic-heading {
    font-size: 1em; /* 20px */
  }
  .content-container {
    padding: 5% 5% 10% 5%;
  }
  .centered-text {
    margin-bottom: 50px;
  }
  .blockquote-style {
    margin: 12px 0 12px 20px;
  }
}
