:root {
  /* fonts */
  --gh-title-font: "Nunito", sans-serif;
  --gh-subtitle-font: "Nunito", sans-serif;
  --gh-heading-font: "Nunito", sans-serif;
  --gh-body-font: "Nunito", sans-serif;
  /* basic colors */
  --gh-dark-color: #333;
  --gh-light-color: #605e5c;
  --gh-background-color: rgba(250, 250, 250, 0.8);
  /* text style */
  --gh-font-size: 1.2rem;
  --gh-font-weight: 400;
  --gh-line-height: 1.5rem;
  --gh-title-color: var(--gh-dark-color);
  --gh-gray-core: #adb5bd;
  --gh-theme-core: var(--gh-gray-core);
  --gh-theme-100: var(--gh-gray-100);
  --gh-theme-150: var(--gh-gray-150);
  --gh-theme-200: var(--gh-gray-200);
  --gh-theme-300: var(--gh-gray-300);
  --gh-theme-400: var(--gh-gray-400);
  --gh-theme-500: var(--gh-gray-500);
  --gh-theme-600: var(--gh-gray-600);
  --gh-theme-700: var(--gh-gray-700);
  --gh-theme-800: var(--gh-gray-800);
  --gh-theme-850: var(--gh-gray-850);
  --gh-theme-900: var(--gh-gray-900);

  /* New Style */

  --gh-theme-core: var(--gh-blue-red-core);
  --gh-theme-150: var(--gh-blue-red-150);
  --gh-theme-200: var(--gh-blue-red-200);
  --gh-theme-300: var(--gh-blue-red-300);
  --gh-theme-400: var(--gh-blue-red-400);
  --gh-theme-500: var(--gh-blue-red-500);
  --gh-theme-600: var(--gh-blue-red-600);
  --gh-theme-700: var(--gh-blue-red-700);
  --gh-theme-800: var(--gh-blue-red-800);
  --gh-theme-850: var(--gh-blue-red-850);
  --gh-theme-900: var(--gh-blue-red-900);

  /* BTN Color */
  /* --bs-btn-bg: var(--gh-theme-600);
  --bs-btn-border-color: var(--gh-theme-600);
  --bs-btn-hover-bg: var(--gh-theme-700);
  --bs-btn-hover-border-color: var(--gh-theme-700);
  --bs-btn-active-bg: var(--gh-theme-700);
  --bs-btn-active-border-color: var(--gh-theme-700); */
}

/* Element Overrides */
body {
  font-family: var(--gh-body-font);
  font-size: var(--gh-font-size);
  font-weight: var(--gh-font-weight);
  line-height: var(--gh-line-height);
  color: var(--gh-dark-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--gh-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gh-title-color);
  letter-spacing: 0.1rem;
}

.btn-color {
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--gh-blue-red-500); /* Azul más claro */
  border-color: var(--gh-blue-red-500); /* Azul más claro */
  color: var(--gh-blue-red-800); /* Rojo más oscuro */
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.btn-color:hover {
  background-color: var(--gh-blue-red-600); /* Rojo más oscuro */
  border-color: var(--gh-blue-red-600); /* Rojo más oscuro */
  color: var(--gh-blue-red-700); /* Azul más claro */
}

.btn-color:active {
  background-color: var(--gh-blue-red-600); /* Rojo más oscuro */
  border-color: var(--gh-blue-red-600); /* Rojo más oscuro */
  color: var(--gh-blue-red-500); /* Azul más claro */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-paragraph {
  font-size: 1em;
  /* 16px */
  font-family: "Open Sans", sans-serif;
}

.main-heading {
  font-size: 3.375em;
  /* 54px */
  letter-spacing: -0.03em;
}

.sub-heading {
  font-size: 2.25em;
  /* 36px */
}

.italic-heading {
  font-size: 1.5em;
  /* 24px */
  font-style: italic;
}

.content-container {
  width: 960px;
  padding: 5% 12% 10% 10%;
  background-color: #f4f4f4;
  margin: 0 auto;
  /*margin-top: 4rem; */
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.centered-text {
  text-align: center;
  margin-bottom: 70px;
}

.main-heading,
.sub-heading,
h3 {
  margin: 10px 0px;
  font-family: "Nunito", serif;
  color: #3d4c5c;
}

.text-paragraph:first-of-type:first-letter {
  font-size: 4em;
  font-weight: bold;
  float: left;
  padding-right: 3px;
}

.text-paragraph:first-of-type:first-line {
  line-height: 1;
}

.content-container > .text-paragraph {
  padding: 10px 0px 10px 40px;
}

.blockquote-style {
  background-color: #eaeaea;
  font-family: "Nunito", serif;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 12px 0 12px 40px;
  text-align: center;
}

/* .image-caption {}

.image-container {} */

.responsive-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Si hay otros estilos que afectan el alineado */
}

.thank-you {
  margin-top: 80px;
  text-align: center;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .main-heading {
    font-size: 2.5em;
    /* 40px */
  }
  .content-container {
    width: 425px;
  }

  .sub-heading {
    font-size: 1.75em;
    /* 28px */
  }

  .italic-heading {
    font-size: 1em;
    /* 20px */
  }

  .content-container {
    padding: 5% 5% 10% 5%;
  }

  .centered-text {
    margin-bottom: 50px;
  }

  .blockquote-style {
    margin: 12px 0 12px 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
