:root {
  /* fonts */
  --gh-title-font: "Nunito", sans-serif;
  --gh-subtitle-font: "Nunito", sans-serif;
  --gh-heading-font: "Nunito", sans-serif;
  --gh-body-font: "Nunito", sans-serif;

  /* basic colors */
  --gh-dark-color: #333; /* Texto oscuro */
  --gh-light-color: #605e5c; /* Color de texto claro */
  --gh-background-color: rgba(250, 250, 250, 0.8); /* Fondo claro */

  /* New Style */
  --gh-theme-core: hsla(210, 100%, 80%, 1); /* Azul */
  --gh-theme-150: hsla(210, 100%, 95%, 1); /* Azul claro */
  --gh-theme-200: hsla(0, 100%, 90%, 1); /* Rojo claro */
  --gh-theme-300: hsla(210, 100%, 80%, 1); /* Azul */
  --gh-theme-400: hsla(0, 100%, 70%, 1); /* Rojo */
  --gh-theme-500: hsla(0, 100%, 50%, 1); /* Rojo oscuro */
  --gh-theme-600: hsla(210, 100%, 60%, 1); /* Azul oscuro */
  /* Paleta de colores actualizada */
  --gh-theme-700: hsla(0, 0%, 20%, 1); /* Gris oscuro tipo carbón */
  --gh-theme-800: hsla(0, 2%, 60%, 0.8); /* Gris claro */
  --gh-theme-900: var(--gh-dark-color); /* Texto oscuro */

  /* text style */
  --gh-font-size: 1.2rem;
  --gh-font-weight: 400;
  --gh-line-height: 1.5rem;
  --gh-title-color: var(--gh-dark-color);
  --gh-gray-core: #adb5bd;
}

/* Element Overrides */
body {
  font-family: var(--gh-body-font);
  font-size: var(--gh-font-size);
  font-weight: var(--gh-font-weight);
  line-height: var(--gh-line-height);
  color: var(--gh-dark-color);
  background-color: var(--gh-background-color); 
 
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--gh-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gh-title-color);
  letter-spacing: 0.1rem;
}

/* Estilo general para los botones con clase 'btn-color' */
.btn-color {
  padding: 0.5rem 1.25rem; /* Padding uniforme */
  font-size: 0.875rem; /* Tamaño de fuente */
  font-weight: 500; /* Peso del texto moderado */
  border-radius: 1.5rem; /* Bordes redondeados */
  position: relative; /* Necesario para el pseudo-elemento */
  overflow: hidden; /* Importante para contener la onda dentro del botón */
  transition: background-position 0.5s ease, color 0.3s ease,
    box-shadow 0.2s ease, transform 0.3s ease; /* Transiciones suavizadas */
  color: #fff; /* Texto blanco por defecto */
  border: none; /* Sin borde */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Efecto de onda */
.btn-color::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%; /* Tamaño grande para cubrir el botón al expandirse */
  height: 300%;
  background: rgba(255, 255, 255, 0.3); /* Color de la onda */
  border-radius: 50%; /* Forma circular */
  transform: translate(-50%, -50%) scale(0); /* Inicia desde el centro y pequeña */
  opacity: 0;
  transition: transform 0.6s ease, opacity 1s ease;
}

/* Al hacer clic en el botón, activa la expansión de la onda */
.btn-color:active::before {
  transform: translate(-50%, -50%) scale(1); /* Expande la onda */
  opacity: 1;
}

/* Hover: Oculta la onda y desplaza el gradiente */
.btn-color:hover {
  color: #fff; /* Mantiene el texto blanco */
  transform: translateY(-2px); /* Desplazamiento sutil hacia arriba */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más fuerte al hacer hover */
}

.btn-color:hover::before {
  opacity: 0; /* La onda se desvanece progresivamente */
}

/* Estilo para botones de acción primaria (azul gradiente) */
.btn-primary {
  background: linear-gradient(
    45deg,
    var(--gh-theme-300),
    var(--gh-theme-600)
  ); /* Gradiente azul */
  background-size: 200% 200%; /* Hacemos el fondo más grande para animación */
}

.btn-primary:hover {
  background-position: right center; /* Desplaza el gradiente a la derecha al hacer hover */
}

/* Estilo para botones de acción de peligro (rojo gradiente) */
.btn-danger {
  background: linear-gradient(
    45deg,
    var(--gh-theme-400),
    var(--gh-theme-500)
  ); /* Gradiente rojo */
  background-size: 200% 200%; /* Hacemos el fondo más grande para animación */
}

.btn-danger:hover {
  background-position: right center; /* Desplaza el gradiente a la derecha al hacer hover */
}

/* Estilo para botones de acción alternativos (gris carbón gradiente) */
.btn-outline-secondary {
  background: linear-gradient(
    45deg,
    var(--gh-theme-800),
    var(--gh-theme-700)
  ); /* Gradiente de gris claro a gris oscuro */
  color: #fff; /* Texto blanco por defecto */
  border: none; /* Sin borde */
  background-size: 200% 200%; /* Gradiente más grande para animación */
}

.btn-outline-secondary:hover {
  background-position: right center; /* Desplaza el gradiente a la derecha al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más fuerte */
}
