:root {
  --color-primary-light: hsla(210, 100%, 95%, 1); /* Azul claro */
  --color-primary: hsla(210, 100%, 80%, 1); /* Azul */
  --color-primary-dark: hsla(210, 100%, 60%, 1); /* Azul oscuro */
  --color-secondary-light: hsla(0, 100%, 90%, 1); /* Rojo claro */
  --color-secondary: hsla(0, 100%, 70%, 1); /* Rojo */
  --color-secondary-dark: hsla(0, 100%, 50%, 1); /* Rojo oscuro */
  --color-accent: hsla(0, 0%, 20%, 1); /* Verde */
  --color-background: hsla(0, 0%, 98%, 1); /* Fondo claro */
  --color-text: hsla(0, 0%, 20%, 1); /* Texto oscuro */
}

[data-cf-theme="modern-clean"] {
  --gh-theme-core: var(--color-primary);
  --gh-theme-150: var(--color-primary-light);
  --gh-theme-200: var(--color-secondary-light);
  --gh-theme-300: var(--color-primary);
  --gh-theme-400: var(--color-secondary);
  --gh-theme-500: var(--color-secondary-dark);
  --gh-theme-600: var(--color-primary-dark);
  --gh-theme-700: var(--color-accent);
  --gh-theme-800: var(--color-background);
  --gh-theme-900: var(--color-text);
}
