@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos Personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <div class="personal-data-section">
            <p class="personal-data-text">
                Tu cuenta contiene datos personales que nos has proporcionado. Esta página te permite eliminar esos
                datos.
            </p>
            <p class="personal-data-warning">
                <span class="warning-icon bi bi-exclamation-triangle-fill"></span>
                <strong>Eliminar estos datos removerá permanentemente tu cuenta, y esto no podrá ser
                    recuperado.</strong>
            </p>
            <p>
                <a id="delete-personal-data" asp-page="DeletePersonalData"
                    class="btn btn-color btn-danger">
                    <span class="delete-icon bi bi-trash-fill"></span> Eliminar
                </a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}