@model CDR_Worship.Models.Sms


@{
    ViewData["Title"] = "Envio SMS";
}


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4 fw-bold">Enviar SMS</h2>
                    <form asp-action="SendSms" method="post">
                        <!-- Mensaje -->
                        <div class="form-floating mb-4">
                            <textarea class="form-control shadow-sm" id="message" name="Message" asp-for="Message"
                                style="height: 150px;" placeholder="Escribe tu mensaje aquí" required></textarea>
                            <label for="message">
                                <i class="bi bi-chat-dots me-2"></i>Escribe tu mensaje aquí
                            </label>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>

                        <!-- Botón de envío -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-color btn-primary btn-lg shadow-sm position-relative">
                                <i class="bi bi-send me-2"></i>
                                Enviar Mensaje
                                <span class="spinner-border spinner-border-sm d-none position-absolute end-0 me-3"
                                    id="loading-spinner"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.querySelector("button[type='submit']").addEventListener("click", function () {
            const spinner = document.getElementById("loading-spinner");
            spinner.classList.remove("d-none");
        });
    </script>
    <!-- SweetAlert for Notifications -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'success',
                        title: '¡Éxito!',
                        text: '@TempData["SuccessMessage"]'
                                                            });
            </text>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'error',
                        title: 'Error',
                        text: '@TempData["ErrorMessage"]'
                                                            });
            </text>
        }
                            });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
