@model CDR_Worship.Models.Sms


@{
    ViewData["Title"] = "Enviar Notificación SMS";
}

<style>
  
    /* Form Styles */
    .form-floating .form-control,
    .form-floating .form-select {
        border-radius: 0.5rem;
    }

    .form-floating label {
        font-size: 1.1rem;
        color: #6c757d;
    }

</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card box-shadow">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Enviar Notificación por SMS</h2>

                    <form asp-action="SendSms" method="post">
                        <!-- Mensaje -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="Message" asp-for="Message"
                                style="height: 150px;" required></textarea>
                            <label for="message">Escribe tu mensaje aquí</label>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>

                        <!-- Botón de envío -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-color btn-primary btn-lg">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <!-- Script para mostrar las alertas basadas en TempData -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Verificar si hay un mensaje de éxito
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'success',
                        title: '¡Éxito!',
                        text: '@TempData["SuccessMessage"]'
                                                                                                                                                            });
            </text>
        }

                // Verificar si hay un mensaje de error
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'error',
                        title: 'Error',
                        text: '@TempData["ErrorMessage"]'
                                                                                                                                                            });
            </text>
        }
                                                                            });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}