@model CDR_Worship.Models.ViewModel.SongAudioViewModel

@{
    ViewData["Title"] = "Editar Video";
}

<div class="container-xxl d-flex justify-content-center align-items-center min-vh-100 p-3">
    <div class="form-container w-100">
        <div class="card-body p-5">
            <h1 class="card-title text-center fs-4 fw-bold">@ViewData["Title"]</h1>
            <hr />

            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                <input type="hidden" asp-for="Id" />

                <!-- Nombre de la Canción -->
                <div class="form-floating my-3">
                    <input type="text" asp-for="SongName" class="form-control rounded-3"
                        placeholder="Nombre de la Canción" />
                    <label asp-for="SongName" class="form-label">Nombre de la Canción:</label>
                    <span asp-validation-for="SongName" class="text-danger"></span>
                </div>

                <!-- URL de YouTube -->
                <div class="form-floating my-3">
                    <input type="text" asp-for="YouTubeUrl" class="form-control rounded-3"
                        placeholder="URL de YouTube" />
                    <label asp-for="YouTubeUrl" class="form-label">URL de YouTube:</label>
                    <span asp-validation-for="YouTubeUrl" class="text-danger"></span>
                </div>

                <!-- Botones -->
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <button type="submit" class="btn btn-primary btn-color btn-sm mb-2 mb-md-0 mx-md-2">Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary btn-color btn-sm mx-md-2">Volver</a>
                </div>
            </form>

        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}