@{
  ViewData["Title"] = "Home Page";
}

<style>
  .custom-display {
    font-size: 1.75rem;
    /* Ajusta el tamaño según tus preferencias */
    line-height: 1.2;
  }
</style>

<div class="container my-5">
  <!-- Encabezado principal con bienvenida -->
  <div class="text-center mb-5">
    <h1 class="fw-bold" style="color: #333;">CDR Worship</h1>
    <hr class="w-50 mx-auto my-4" />
  </div>

  <!-- Sección de información y foto con un diseño renovado -->
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <!-- Información sobre la misión -->
      <div class="col-lg-5 order-lg-2 text-center text-lg-start">
        <h2 class="display-5 text-uppercase text-secondary fw-bold mb-4">Nuestra Misión</h2>
        <p class="text-muted mb-4">
          Invitamos a la congregación a cantar con júbilo al Señor, creando un ambiente donde cada voz se una en
          adoración
          sincera y apasionada. Creemos que levantar nuestras voces en adoración es una forma de responder a la
          salvación
          que Dios nos ofrece.
        </p>
        <blockquote class="blockquote text-lg-start text-center">
          <p class="mb-0 fw-bold text-primary fst-italic">
            "Vengan, cantemos con júbilo al Señor; aclamemos a la roca de nuestra salvación." - Salmo 95:1 (DHH)
          </p>
        </blockquote>
      </div>

      <!-- Imagen con efecto distintivo -->
      <div class="col-lg-7 order-lg-1">
        <div class="position-relative">
          <img src="~/assets/img/CDRW-Home.jpg" class="img-fluid rounded shadow-lg" alt="Equipo de CDR Worship" />

        </div>
      </div>
    </div>
  </div>

  <!-- Mensaje de agradecimiento final -->
  <div class="text-center mt-5">
    <h3 class="italic-heading" style="color: #333;">¡Gracias por visitarnos!</h3>
  </div>
</div>