@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Estilos generales */
    body,
    html {
        height: 100%;
        margin: 0;
    }

    /* Estilos para la imagen de fondo */
    .hero-image {
        background-image: url('/assets/img/CDRW-Home.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100vh - 60px - 60px);
        width: 100%;
        position: relative;
    }

    /* Asegurando que el contenido dentro de .hero-container se vea correctamente */
    /*.hero-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
*/

    }
</style>

<div class="hero-image"></div>
