@{
  ViewData["Title"] = "Home Page";
}


<div class="content-container mt-4 mb-4">
  <h3 class="centered-text italic-heading">- Bienvenido a CDR Worship - </h3>
  <h1 class="main-heading">CDR Worship </h1>
  <p class="text-paragraph">El equipo de CDR Worship ha sido una parte integral de nuestra
    iglesia durante más de siete años. Con un corazón
    dedicado a glorificar a Dios a través de la música, nuestro equipo está compuesto por músicos y cantantes talentosos
    que buscan inspirar y conectar a la congregación con el Espíritu Santo en cada servicio.</p>

  <p class="text-paragraph">Desde sus humildes comienzos, CDR Worship ha crecido para incluir a miembros de todas las
    edades, unidos por su
    pasión por la adoración. Nos esforzamos por crear un ambiente donde cada persona pueda experimentar la presencia de
    Dios a través de canciones que elevan y transforman el alma.</p>

  <h2 class="sub-heading">Nuestra Misión</h2>
  <p class="text-paragraph">Nuestra misión es guiar a la congregación en la adoración a través de música auténtica y
    apasionada. Creemos que la
    adoración es más que solo música; es una respuesta a la gracia de Dios y un acto de entrega y devoción. Cada miembro
    del equipo está comprometido a vivir una vida que refleje el amor de Cristo, tanto dentro como fuera del escenario.
  </p>

  <blockquote class="blockquote-style">"La adoración es una respuesta a la gracia infinita de Dios."</blockquote>

  <p class="text-paragraph">A lo largo de los años, hemos visto cómo Dios ha usado nuestra música para tocar corazones y
    transformar vidas.
    Nuestro repertorio incluye tanto coritos clásicos como canciones contemporáneas, siempre buscando un equilibrio que
    resuene con nuestra diversa congregación.</p>

  <figure class="image-container">
    <img src="~/assets/img/CDRW-Home.jpg" alt="Equipo de CDR Worship" class="responsive-image" />
    <figcaption class="image-caption text-center">Nuestro equipo.</figcaption>
  </figure>

  <h3 class="thank-you italic-heading">¡Gracias por visitarnos!</h3>
</div>
