@{
  ViewData["Title"] = "Home Page";
}


<style>
  html {
    font-size: 100%;
    line-height: 1.5;
  }

  body {
    background-color: #fff;
    color: #333;
  }

  /* HEADER & COPY SIZING */
  p {
    font-size: 1em;
    /* 16px */
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-size: 3.375em;
    /* 54px */
    letter-spacing: -.03em;
  }

  h2 {
    font-size: 2.25em;
    /* 36px */
  }

  h3 {
    font-size: 1.5em;
    /* 24px */
    font-style: italic;
  }

  .post {
    width: 960px;
    padding: 5% 12% 10% 10%;
    background-color: #f4f4f4;
    margin: 0 auto;
    margin-top: 4rem;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
  }

  .description {
    text-align: center;
    margin-bottom: 70px;
  }

  h1,
  h2,
  h3 {
    margin: 10px 0px;
    font-family: 'Nunito', serif;
    color: #3d4c5c;
  }

  p:first-of-type:first-letter {
    font-size: 4em;
    font-weight: bold;
    float: left;
    padding-right: 3px;
  }

  p:first-of-type:first-line {
    line-height: 1;
  }

  .post>p {
    padding: 10px 0px 10px 40px;
  }

  blockquote {
    background-color: #eaeaea;
    font-family: 'Nunito', serif;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 12px 0 12px 40px;
    text-align: center;
  }

  figcaption {}

  figure {}

  .pic-medium {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* Si hay otros estilos que afectan el alineado */
  }

  .thanks {
    margin-top: 80px;
    text-align: center;
  }
</style>


<div class="post">
  <h3 class="description">- Bienvenido a CDR Worship - </h3>
  <h1>CDR Worship Team</h1>
  <p>El equipo de CDR Worship ha sido una parte integral de nuestra iglesia durante más de siete años. Con un corazón
    dedicado a glorificar a Dios a través de la música, nuestro equipo está compuesto por músicos y cantantes talentosos
    que buscan inspirar y conectar a la congregación con el Espíritu Santo en cada servicio.</p>

  <p>Desde sus humildes comienzos, CDR Worship ha crecido para incluir a miembros de todas las edades, unidos por su
    pasión por la adoración. Nos esforzamos por crear un ambiente donde cada persona pueda experimentar la presencia de
    Dios a través de canciones que elevan y transforman el alma.</p>

  <h2>Nuestra Misión</h2>
  <p>Nuestra misión es guiar a la congregación en la adoración a través de música auténtica y apasionada. Creemos que la
    adoración es más que solo música; es una respuesta a la gracia de Dios y un acto de entrega y devoción. Cada miembro
    del equipo está comprometido a vivir una vida que refleje el amor de Cristo, tanto dentro como fuera del escenario.
  </p>

  <blockquote>"La adoración es una respuesta a la gracia infinita de Dios."</blockquote>

  <p>A lo largo de los años, hemos visto cómo Dios ha usado nuestra música para tocar corazones y transformar vidas.
    Nuestro repertorio incluye tanto coritos clásicos como canciones contemporáneas, siempre buscando un equilibrio que
    resuene con nuestra diversa congregación.</p>

  <figure>
    <img src="~/assets/img/CDRW-Home.jpg" alt="Equipo de CDR Worship" class="pic-medium" />
    <figcaption class="text-center">Nuestro equipo.</figcaption>
  </figure>

  <h3 class="thanks">¡Gracias por visitarnos!</h3>
</div>