@{
    ViewData["Title"] = "Home Page";

}


<style>
    .background-container {
        background-image: url('/assets/img/CDRW-Home.jpg');
        background-size: cover; /* Para cubrir completamente el contenedor */
        background-position: center; /* Para centrar la imagen */
        /* Ajusta la altura y otros estilos según sea necesario */
    }

</style>

<div class="background-container">
    <img src="/assets/img/CDRW-Home.jpg" />
</div>




