@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}


@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CDR_Worship</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true" /> *@
    @*<link rel="stylesheet" href="~/CDR_Worship.styles.css" asp-append-version="true" />*@
</head>

<body>

   <style>
    /* Form Styles */
    .form-floating .form-control {
        border-radius: 0.5rem;
        height: 3.5rem;
        /* Ajusta la altura del campo para que el label grande se vea mejor */
    }

    /* Cambiar el estilo del label cuando no está enfocado */
    .form-floating label {
        font-size: 1.2rem;
        /* Tamaño inicial más grande */
        color: #6c757d;
        text-align: center;
        transform-origin: left top;
        transition: all 0.3s ease;
    }

    /* Cambiar el estilo del label cuando el campo está enfocado o lleno */
    .form-floating .form-control:focus+label,
    .form-floating .form-control:not(:placeholder-shown)+label {
        font-size: 0.875rem;
        /* Reducir el tamaño al hacer clic */
        transform: translateY(-1.5rem);
        /* Mover hacia arriba */
        color: #007bff;
        text-align: left;
        /* Cambia a alineación izquierda cuando está en la parte superior */
    }

    /* Agregar estilos para el campo de entrada cuando está enfocado */
    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
    }

    /* Fondo general */
    body {
        background: linear-gradient(135deg, #f8f9fa, hsla(0, 2%, 60%, 0.8), #e3f2fd);
    }
</style>


    <div class="container-xxl my-5">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card box-shadow">
                    <div class="card-body p-4">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                            enctype="multipart/form-data">
                            <h2 class="text-center mb-4">Registro</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.FirstName" class="form-control" aria-required="true"
                                    placeholder="Nombre" />
                                <label asp-for="Input.FirstName">Nombre</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.LastName" class="form-control" aria-required="true"
                                    placeholder="Apellido" />
                                <label asp-for="Input.LastName">Apellido</label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                    aria-required="true" placeholder="nombre@ejemplo.com" />
                                <label asp-for="Input.Email">Correo Electrónico</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                                    aria-required="true" placeholder="Contraseña" />
                                <label asp-for="Input.Password">Contraseña</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                                    aria-required="true" placeholder="Confirmar Contraseña" />
                                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Input.ImageFormFile" class="form-label">Foto de Perfil</label>
                                <input asp-for="Input.ImageFormFile" class="form-control" type="file"
                                    accept="image/*" />
                                <span asp-validation-for="Input.ImageFormFile" class="text-danger"></span>
                            </div>

                            <div class="button-container"
                                style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                                <button id="registerSubmit" type="submit"
                                    class="btn btn-lg btn-color btn-primary w-100">Registrarse</button>
                                <a href="@Url.Action("Index", "Home")"
                                    class="btn btn-color btn-danger w-100">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>
