@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CDR_Worship</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet" />


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CDR_Worship.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container-xxl my-5">
        <h1 class="text-center"> @ViewData[""]</h1>
        <!-- Agrega la clase 'my-5' para los márgenes superior e inferior -->
        <div class="row justify-content-center">
            <!-- Agrega 'justify-content-center' para centrar el contenido horizontalmente -->
            <div class="col-md-4">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="text-center">Crea una nueva cuenta.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="nombre" />
                        <label asp-for="Input.FirstName">Nombre</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="apellido" />
                        <label asp-for="Input.LastName">Apellido</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                        <label asp-for="Input.Email">Correo Electrónico</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="contraseña" />
                        <label asp-for="Input.Password">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirmar contraseña" />
                        <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="file" asp-for="Input.ProfilePicture" class="form-control" aria-required="true" />
                        <label asp-for="Input.ProfilePicture">Foto de Perfil</label>
                        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrarse</button>
                </form>

            </div>
        </div>
    </div>

   


</body>
</html>
