@model CDR_Worship.Models.SongDocument

@{
    ViewData["Title"] = "Edit";
}

<div class="section-page py-5">
    <div class="container">
        <div class="card shadow-sm border-0" style="max-width: 600px; margin: 0 auto;">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0 text-center">Edit Song Document</h5>
            </div>
            <div class="card-body p-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label for="SongName" class="form-label fw-bold">Nombre de la cancion</label>
                        <input type="text" class="form-control" id="SongName" asp-for="SongName" />
                        <span asp-validation-for="SongName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="Description" class="form-label fw-bold">Artista/s</label>
                        <input type="text" class="form-control" id="Description" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-color btn-primary mx-2">Save</button>
                        <a asp-action="Index" class="btn btn-color btn-outline-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}