@model CDR_Worship.Models.ScheduledSong

@{
    ViewData["Title"] = "Create";
}




<div class="container-xxl mt-5 d-flex justify-content-center">


    <div class="card box-shadow">
        <div class="card-body">
            <h1 class="card-title text-center">Crear Nueva Programación</h1>
            <hr />

            <div class="justify-content-center">

                <form asp-action="Create" asp-controller="ScheduledSongs" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Description" />

                    <div class="form-group mt-3">
                        <label asp-for="Name" class="control-label">Nombre de la Canción:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="LeadSingerId" class="control-label">Cantante Principal:</label>
                        <select asp-for="LeadSingerId" class="form-control" asp-items="ViewBag.LeadSingers">
                            <option value="">Seleccionar Cantante Principal</option>
                        </select>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="StartDate" class="control-label">Fecha:</label>
                        <input asp-for="StartDate" type="date" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-color">Crear</button>
                        <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
                    </div>
                </form>

            </div>
        </div>
    </div>


</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
