@model CDR_Worship.Models.ScheduledSong

@{
    ViewData["Title"] = "Crear Lista";
}


<div class="container-xxl my-2 d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-container">

        <div class="card-body p-5">
            <h1 class="card-title text-center">@ViewData["Title"]</h1>
            <hr />

            <div class="justify-content-center">
                <form asp-action="Create" asp-controller="ScheduledSongs" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @* <input type="hidden" asp-for="Description" /> *@

                    <div class="form-floating mt-3">
                        <input asp-for="Name" class="form-control" placeholder=" " />
                        <label asp-for="Name" class="control-label">Nombre de la Canción:</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Description" class="form-control" placeholder=" " />
                        <label asp-for="Description" class="control-label">Nombre del Artista/s:</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3 chord-select">
                        <select asp-for="LeadSingerId" class="form-select rounded-3" asp-items="ViewBag.LeadSingers">
                            <option value="">Seleccionar Cantante Principal</option>
                        </select>
                        <label asp-for="LeadSingerId" class="form-label">Cantante Principal:</label>
                    </div>

                    <div class="form-floating mt-3 date-field">
                        <input asp-for="StartDate" type="date" class="form-control" />
                        <label asp-for="StartDate" class="control-label">Fecha:</label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-color btn-primary">Crear</button>
                        <a asp-action="Index" class="btn btn-color btn-outline-secondary ml-2">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
