@model CDR_Worship.Models.ScheduledSong

@{
    ViewData["Title"] = "Eliminar Programación";
}




<div class="container-xxl d-flex justify-content-center align-items-center min-vh-100">
    <div class="card box-shadow" style="max-width: 600px; width: 100%;">
        <div class="card-body p-5">
            <h1 class="text-center text-danger mb-5" style="font-weight: 700; font-size: 1.8rem;">Eliminar Lista</h1>
            <hr>
            <p class="text-center mb-5">¿Estás seguro de que quieres eliminar esta lista?</p>

            <div class="song-details mb-5">
                <div class="d-flex justify-content-between border-bottom pb-3 mb-3">
                    <span class="fw-bold">Canción:</span>
                    <span>@Html.DisplayFor(model => model.Name)</span>
                </div>
                <div class="d-flex justify-content-between border-bottom pb-3 mb-3">
                    <span class="fw-bold">Cantante Principal:</span>
                    <span>@(Model.LeadSinger != null ? Model.LeadSinger.MemberName : "No Asignado")</span>
                </div>
                <div class="d-flex justify-content-between border-bottom pb-3">
                    <span class="fw-bold">Fecha:</span>
                    <span>@Model.StartDate.ToString("MM/dd/yyyy")</span>
                </div>
            </div>

            <form asp-action="Delete" class="d-flex justify-content-center">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-color btn-danger mx-2">Eliminar</button>
                <a asp-action="Index" class="btn btn-color btn-outline-secondary">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}