@model CDR_Worship.Models.ScheduledSong

@{
    ViewData["Title"] = "Delete";
}


<div class="container-xxl mt-5">

    <h3>Estas seguro que quieres eliminar esta programacion?</h3>

    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
