@model CDR_Worship.Models.ScheduledSong

@{
    ViewData["Title"] = "Editar Lista";
}

<div class="container-xxl my-2 d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-container">

        <div class="card-body p-2">
            <h1 class="card-title text-center">@ViewData["Title"]</h1>
            <hr />

            <div class="justify-content-center">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-4" role="alert"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-floating mb-4">
                        <input type="text" asp-for="Name" class="form-control rounded-3"
                            placeholder="Nombre de la Canción" />
                        <label asp-for="Name" class="form-label">Nombre de la Canción:</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Description" class="form-control" placeholder=" " />
                        <label asp-for="Description" class="control-label">Nombre del Artista/s:</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <select asp-for="LeadSingerId" class="form-select rounded-3" asp-items="ViewBag.LeadSingers">
                            <option value="">Seleccionar Cantante Principal</option>
                        </select>
                        <label asp-for="LeadSingerId" class="form-label">Cantante Principal:</label>
                    </div>



                    <div class="form-floating mb-4 date-field">
                        <input asp-for="StartDate" type="date" class="form-control rounded-3" />
                        <label asp-for="StartDate" class="form-label">Fecha:</label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-color btn-primary mx-2">Guardar</button>
                        <a asp-action="Index" class="btn btn-color btn-outline-secondary">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
