@model CDR_Worship.Models.ScheduledSong

@{
    ViewData["Title"] = "Edit";
}

<style>
    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
</style>


<div class="section-page">
    <div class="container-xxl mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">Edit Document</h5>
            </div>
            <div class="card-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />


                    <div class="form-group mb-2">
                        <label asp-for="Name" class="control-label">Nombre de la Canción:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label asp-for="LeadSingerId" class="control-label">Cantante Principal:</label>
                        <select asp-for="LeadSingerId" class="form-control" asp-items="ViewBag.LeadSingers">
                            <option value="">Seleccionar Cantante Principal</option>
                        </select>
                    </div>


                    <div class="form-group mb-2">
                        <label asp-for="StartDate" class="control-label">Fecha:</label>
                        <input asp-for="StartDate" type="date" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
