:root {
  --gh-blue-red-150: hsla(210, 100%, 91%, 1); /* Azul claro */
  --gh-blue-red-200: hsla(0, 100%, 86%, 1); /* Rojo claro */
  --gh-blue-red-300: hsla(210, 100%, 81%, 1); /* Azul más oscuro */
  --gh-blue-red-400: hsla(0, 100%, 78%, 1); /* Rojo más oscuro */
  --gh-blue-red-500: hsla(210, 100%, 74%, 1); /* Azul medio */
  --gh-blue-red-600: hsla(0, 100%, 67%, 1); /* Rojo medio */
  --gh-blue-red-700: hsla(210, 100%, 48%, 1); /* Azul oscuro */
  --gh-blue-red-800: hsla(0, 100%, 37%, 1); /* Rojo oscuro */
  --gh-blue-red-850: hsla(210, 100%, 26%, 1); /* Azul muy oscuro */
  --gh-blue-red-900: hsla(0, 100%, 25%, 1); /* Rojo muy oscuro */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  background-color: var(
    --gh-theme-100
  ); /* Cambia esto según tu paleta de colores */
}

.social-links a:hover {
  color: var(
    --gh-theme-600
  ); /* Cambia esto para personalizar el efecto hover */
  transition: color 0.3s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  /* color: var(--gh-blue-red-600);  */
}

a:hover {
  color: var(--gh-blue-red-800);
}

/* Estilo adicional para modernizar los elementos de la lista */
.nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 15px;
  font-weight: 500;
}

.nav-link:hover {
  background-color: var(--gh-theme-300);
  color: white;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-login-partial {
  box-shadow: none;
}

/* Estilo para los elementos redondeados */
.rounded-pill {
  border-radius: 50px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .media-title {
    font-size: 0.8rem; /* Tamaño de h6 */
  }
}
